.contact {
  padding-top: 20px;
  background-color: #1c6ca1;
  padding-bottom: 50px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.contact-container {
  display: flex;

  height: 500px;
}

.map-image {
  align-self: center;
  margin-right: 50px;
}
.contact-title {
  text-align: center;
  font-size: 3rem;
  color: #fff;
  padding-bottom: 50px;
}

.map-container {
  align-items: center;

  height: 100%;
}

.submit-button {
  text-align: center;
  align-self: auto;
  background-color: #5dbdfd;
  width: auto;
  margin-bottom: 30px;
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
  padding: 10px;
  box-sizing: border-box;
}

.address {
  text-align: center;
  font-size: 1.2rem;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.form-input {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-class {
  margin-bottom: 20px;
  width: 300px;
  height: 30px;
}
.input-class.message {
  height: 80px;
  width: 300px;
  resize: none;
}

@media screen and (max-width: 960px) {
  .contact-container {
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  .map-image {
    margin-right: 0px;
  }
}
