.contact {
  padding-top: 20px;
  background-color: #113f67;
  padding-bottom: 50px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.contact-container {
  display: flex;
  height: 500px;
}

.map-image {
  align-self: center;
  margin-right: 50px;
}
.contact-title {
  text-align: center;
  font-size: 3rem;
  color: #f3f9fb;
  padding-bottom: 50px;
}

.map-container {
  align-items: center;

  height: 100%;
}

.submit-button {
  text-align: center;

  width: auto;

  text-decoration: none;

  font-size: 1.2rem;

  font-family: Arial;
  color: #ffffff;

  background: #226597;
  padding: 15px 40px 15px 40px;
  border: solid #1f628d 2px;
  text-decoration: none;
}

.submit-button:hover {
  color: #113f67;
  text-decoration: none;
}

.address {
  text-align: center;
  font-size: 1.2rem;
  color: #226597;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.form-input {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-class {
  margin-bottom: 20px;
  width: 300px;
  height: 30px;
}
.input-class.message {
  height: 80px;
  width: 300px;
  resize: none;
}

@media screen and (max-width: 960px) {
  .contact-container {
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 90%;
  }

  .map-image {
    margin-right: 0px;
    width: 100%;
    height: auto;
    max-width: 500px;
  }
}
