.img-container {
  background-image: url("../Img/home.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  width: 100%;
  flex-direction: column;
}

@media screen and (max-width: 960px) {
  .img-container {
    width: auto;
    height: 65vh;
  }
}
